<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" />
    <link
    href="https://fonts.googleapis.com/css2?family=Alata&display=swap"
    rel="stylesheet"
  />
    <title>Document</title>
</head>
<body>
    <footer>
        <%-include("nav") %>
        <div class="footer-wrapper">
          <div>
            <div class="VrStudio">
            <h3>VR-STUDIO</h3>
            <div class="underline"></div>
           </div>
            <ul class="footer-list">
              <li class="footer-item">
                <a href="#Home">Home</a>
                <div class="underline"></div>
              </li>
              <li class="footer-item">
                <a href="#Product">Product</a>
                <div class="underline"></div>
              </li>
              <li class="footer-item">
                <a href="#Specification">Specification</a>
                <div class="underline"></div>
              </li>
              <li class="footer-item">
                <a href="#Testimonal">Testimonal</a>
                <div class="underline"></div>
              </li>
              <li class="footer-item">
                <a href="#Contactt">Contact us</a>
                <div class="underline"></div>
              </li>
            </ul>
          </div>
          <div>
            <div class="social-icons">
              <div class="social-icon">
                <img src="images/icon-facebook.svg" alt="Facebook icon" />
                <div class="underline"></div>
              </div>
              <div class="social-icon">
                <img src="images/icon-twitter.svg" alt="Twitter icon" />
                <div class="underline"></div>
              </div>
              <div class="social-icon">
                <img src="images/icon-pinterest.svg" alt="Pinterest icon" />
                <div class="underline"></div>
              </div>
              <div class="social-icon">
                <img src="images/icon-instagram.svg" alt="Instagram icon" />
                <div class="underline"></div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    
</body>
</html>