<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    
    <link
      href="https://fonts.googleapis.com/css2?family=Alata&display=swap"
      rel="stylesheet"
    />
    <title>VR Studio</title>
  </head>
  <body>
    <header id="Home">
      <nav>
        <div class="VrStudio" style="font-weight: bold;color:aliceblue;">
          <h2 style="margin-left: 50px;">VR-STUDIO</h2>
          <div class="underline "></div>
        </div>
        <ul class="nav-list">
          <li class="nav-item">
            <a href="#Home">Home</a>
            <div class="underline "></div>
          </li>
          <li class="nav-item">
            <a href="#Product">Product</a>
            <div class="underline"></div>
          </li>
          <li class="nav-item">
            <a href="#Specification">Specification</a>
            <div class="underline"></div>
          </li>
          <li class="nav-item">
            <a href="#Testimonal">Testimonal</a>
            <div class="underline"></div>
          </li>
          <li class="nav-item">
            <a href="#Contactt">Contact Us</a>
            <div class="underline"></div>
          </li>
        </ul> 
       
      </nav>
      <div class="header-title title" style="margin-left:1%; margin-top: 10%;">
      Immerse Yourself in Virtual Reality World
      </div>
      <div style="padding-top: 3%;padding-bottom: 5%;">
        <h2 style="color: white; font-weight:lighter;">Discover a sense of virtual reality like never before</h2>
        </div>
    </header>
    
    
  </body>
</html>
