<nav>
    <div class="VrStudio" style="font-weight: bold;color:aliceblue;">
      <h2 style="margin-left: 50px;">VR-STUDIO</h2>
      <div class="underline "></div>
    </div>
    <ul class="nav-list">
      <li class="nav-item">
        <a href="/">Home</a>
        <div class="underline "></div>
      </li>
      <li class="nav-item">
        <a href="/Product">Product</a>
        <div class="underline"></div>
      </li>
      <li class="nav-item">
        <a href="/Specification">Specification</a>
        <div class="underline"></div>
      </li>
      <li class="nav-item">
        <a href="/Testimonal">Testimonal</a>
        <div class="underline"></div>
      </li>
      <li class="nav-item">
        <a href="/Contactus">Contact Us</a>
        <div class="underline"></div>
      </li>
    </ul> 
</nav>