<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" />
    
    <link
      href="https://fonts.googleapis.com/css2?family=Alata&display=swap"
      rel="stylesheet"
    />
    <title>Product</title>
</head>
<body>
    <section id="Product" style="color: white; background-color: #01061c;">
        <%-include("nav") %>
        <br>
           <div class="row OurProduct ">Our Products
           </div>
        <br>
          
          <div class="row ">
            <div class="column  ">
              <div class="productimage">
              <img class="vr1" src="images/Products/Product 2.jpg" alt="vr1"  >
              <button class=" shop">Buy Now</button></div>
              <div class="row rate">
                <span>HS- </span><span>69</span>
                <span class="left"> (69$)</span>
              </div>
             </div>
             <div class="column">
              <div class="productimage">
              <img  class="vr" src="images/Products/Product 1.jpg" alt="Vr2" >
              <button style="height:30px ;" class=" shop">Buy Now</button></div>
              <div class="row rate">
                <span>HS- </span><span>70</span>
                <span class="left"> (70$)</span>
              </div>
              <div class="productimage">
              <img class="vr" src="images/Products/Product 4.jpg" alt="Vr2" >
              <button style="height:30px ;" class=" shop">Buy Now</button></div>
              <div class="row rate">
                <span>HS- </span><span>73</span>
                <span class="left"> (73$)</span>
              </div>
            </div>
            <div class="column">
              <div class="productimage">
              <img class="vr" src="images/Products/Product 7.jpg" alt="Vr3" >
              <button style="height:30px ;" class=" shop">Buy Now</button></div>
              <div class="row rate">
                <span>HS- </span><span>71</span>
                <span class="left"> (71$)</span>
              </div>
              <div class="productimage">
              <img class="vr" src="images/Products/Product 6.jpg" alt="Vr3" >
              <button style="height:30px ;" class=" shop">Buy Now</button></div>
              <div class="row rate">
                <span>HS- </span><span>74</span>
                <span class="left"> (74$)</span>
              </div>
              </div>
            <div class="column">
              <div class="productimage">
              <img class="vr" src="images/Products/Product 3.jpg" alt="Vr4" >
              <button style="height:30px ;" class=" shop">Buy Now</button></div>
              <div class="row rate">
                <span>HS- </span><span>72</span>
                <span class="left"> (72$)</span>
              </div>    
              <div class="productimage">
              <img class="vr" src="images/Products/Product 5.jpg" alt="Vr4" >
              <button style="height:30px ;" class=" shop">Buy Now</button></div>
              <div class="row rate">
                <span>HS- </span><span>75</span>
                <span class="left"> (75$)</span>
              </div>                         
            </div>
          </div>
          <div style="text-align: center; padding-bottom: 9%;">
           <button class="btndesign"> View all Designs</button>
          </div>
      </section>
      <script>
        for (let button of document.querySelectorAll(".shop")) {
          button.addEventListener("click", () => {
            window.location.href = "/contactus";
          });
        }
      </script>
</body>
</html>