<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" />
    <link
    href="https://fonts.googleapis.com/css2?family=Alata&display=swap"
    rel="stylesheet"
  />
    <title>Document</title>
</head>
<body>
    <section id="Specification" style="background-color: rgb(20, 3, 48);"><br>
        <%-include("nav") %>
        <p class="specc" > Minimum Specification.</p><br><br>
         <div class="specification shadow">
           <div class="specimg">
            <img  style="width:100% ; height: 400px;" src="images/specification.png" alt="spec">
           </div><br><br>
            <div class="row">
             
             <div class="column bold">Processor</div>
             <div class="column light">Intel i5-4590/ AMD Ryzen 5 1500X</div>
         
            </div><hr>
              <div class="row">
             <div class="column bold">Graphics Card</div>
             <div class="column light "> NVIDIA GTX 1650 / AMD Raedon R9 290</div>
            </div> <hr>
            <div class="row">
             <div class="column bold">Memory</div>
             <div class="column light "> 8GB+RAM</div>
            </div><hr>
            <div class="row">
             <div class="column bold">Operating System</div>
             <div class="column light "> Windows 10</div>
            </div><hr>
            <div class="row">
             <div class="column bold">USB Ports Rift</div>
             <div class="column light">  3x USB 3.0 ports,plus 1x USB 2.0 port</div>
            </div><hr>
            <div class="row">
             <div class="column bold">Video Output(Rift)</div>
             <div class="column light ">  Compatible HDMI 1.3 video output </div>
            </div><hr><br><br>
           </div>
            <br><br><br>
       </section>
</body>
</html>