<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css" />
    <link
    href="https://fonts.googleapis.com/css2?family=Alata&display=swap"
    rel="stylesheet"
  />
    <title>Document</title>
</head>
<body>
    <section id="Testimonal" style="background-color: rgb(8, 9, 30);"><br>
        <%-include("nav") %>
        <div><p style="color:aliceblue; font-size: 40px; margin-left: 160px; padding-bottom: 4px;">
          Testimonal.</p>
        
          <div class="row">
            <div class="column ">
              <div class="text" style="background-color: black; margin-left: 150px; width: 360px; height: 250px; padding: 20px;">
              <p style="color:white ;font-weight: lighter;font-size: 17px; font-family: monospace; "> VR emergent technology is changing so quickly so trust was paramount, I am confident that the end product was both high quality and well priced. Really appreciate the extra work that went in to the final products.
              </p>
              <div style="margin-left: 60% ;" >
              <span><button class="arrow">&larr;</button></span>
            <span><button class="arrow">&rarr;</button></span> </div>
          </div>
            </div>
            <span>
              <img class="shadow" style="width:500px; height:500px;" src="images/testimonal3.jpg" alt="">
            </span>
          </div>
  
        </section >
</body>
</html>